// About Section

#about {
    .row {
        align-items: stretch;
        justify-content: center;
        margin: 80px auto 100px;

        @media screen and (max-width: $medium) {
            flex-wrap: wrap-reverse;
        }

        @media screen and (max-width: $small) {
            margin: 42px 10px;
        }
    }

    .subheader {
        padding-top: 0;

        @media screen and (max-width: $small) {
            text-align: center;
        }
    }

    .paragraph {
        margin-top: 25px;
        text-align: justify;
    }
}

.about-img {
    margin-right: 60px;

    @media screen and (max-width: $medium) {
        margin: 80px 68px 0;
    }

    @media screen and (max-width: $small) {
        margin: 42px 20px 0;
    }
}

.about-text {
    justify-content: space-between;
    margin: 14px 0 14px 60px;
    max-width: 430px;

    @media screen and (max-width: $medium) {
        margin: 0;
    }

    @media screen and (max-width: $small) {
        align-items: center;
        margin: 0 15px;
    }
}



// Pets Section

#pets {
    background-color: $color-light-l;

    .subheader {
        max-width: 400px;

        @media screen and (max-width: $small) {
            padding-top: 0;;
        }
    }

    .fixwidth {
        text-align: center;

        @media screen and (max-width: $small) {
            padding-top: 42px;
        }
    }

    & > .fixwidth:last-child {
        padding-bottom: 100px;

        @media screen and (max-width: $small) {
            padding-bottom: 42px;
        }
    }

    .row {
        @media screen and (max-width: $medium) {
            margin: 0 30px;
        }

        @media screen and (max-width: $small) {
            flex-wrap: wrap;
            justify-content: space-around;
            padding-bottom: 42px;
            gap: 0 calc(100vw - 300px);
        }
    }

    .row .card {
        @media screen and (max-width: $small) {
            margin: 42px auto 20px;
            order: 1;
        }
    }

    .row .button-arrow {
        @media screen and (max-width: $small) {
            order: 2;
        }
    }

    .row .card:nth-child(4) {
        @media screen and (max-width: $medium) {
            display: none;
        }
    }

    .row .card:nth-child(3) {
        @media screen and (max-width: $small) {
            display: none;
        }
    }
}

.card {
    background-color: $color-light-s;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 270px;
    margin: 60px auto;

    img {
        @media screen and (max-width: $small) {
            max-width: 270px;
        }
    }

    .button {
        margin: 30px auto;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);    
    }

    &:hover .button {
        background-color: $color-primary-light;
        border: 2px solid $color-primary-light;    
    }

    &:hover img {
        border-radius: 9px 9px 0 0;
        background-color: $color-light-s;
        mix-blend-mode: multiply;    
    }

}

figure {
    display: inline-block;
    text-align: center;
    margin: 0;
}

figcaption {
    color: $color-dark-l;
    font-family: $font-primary;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.06em;
    margin-top: 25px;
    text-align: center;

    #help & {
        @media screen and (max-width: $small) {
            font-size: 15px;
            line-height: 1.1;
        }
    } 
}



// Help Section

#help {
    .subheader {
        max-width: 400px;

        @media screen and (max-width: $small) {
            padding-top: 42px;
        } 
    }

    .fixwidth {
        text-align: center;
    }
}

.help-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px auto 45px;

    @media screen and (max-width: $medium) {
        margin: 60px 69px 45px;
        justify-content: space-between;
    }
    
    @media screen and (max-width: $small) {
        margin: 42px 15px 12px;
        justify-content: flex-start;
    }
}

.help-item {
    margin: 0 60px 55px 60px;

    @media screen and (max-width: $medium) {
        width: 170px;
        height: 113px;
        margin: 0 0 55px 0;
    }
    
    @media screen and (max-width: $small) {
        width: 130px;
        height: 87px;
        margin-bottom: 30px;

        &:nth-child(2n+1) {
            margin-right: 30px;
        }

        img {
            max-width: 50px;
        }

        figcaption {
            margin-top: 16px;
        }
    }
}

// Donation Section 

#donation {
    background-color: $color-light-l;

    .subheader {
        padding-top: 0px;

        @media screen and (max-width: $small) {
            text-align: center;
        }
    }

    .row {
        justify-content: center;
        padding: 80px 0 100px;
    
        @media screen and (max-width: $medium) {
            flex-wrap: wrap-reverse;
        }

        @media screen and (max-width: $small) {
            padding: 42px 10px;
        }
    }

    .column:first-child {
        @media screen and (max-width: $small) {
            padding: 0 20px;
        }
    }

    small {
        color: $color-dark-m;
        font-family: $font-secondary;
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;

        @media screen and (max-width: $medium) {
            padding-bottom: 60px;
        }

        @media screen and (max-width: $small) {
            padding-bottom: 42px;
            text-align: justify;
        }
    }
}

.donation-info {
    max-width: 380px;
    margin-left: 30px;

    a {
        display: inline-block;

        @media screen and (max-width: $small) {
            width: 100%;
        }
    }

    @media screen and (max-width: $medium) {
        margin: 0;
    }

    @media screen and (max-width: $small) {
        align-items: center;
        padding: 0 10px;
        margin: 0;
    }

}

.subheader-details {
    color: $color-dark-l;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    margin: 20px 0;
}

.card-number {
    display: flex;
    background-color: $color-primary;
    border-radius: 9px;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.card-number:hover {
    background-color: $color-primary-light;
}

.card-number img {
    color: $color-dark-3xl;
    margin-right: 15px;
}

.card-number h4 {
    color: $color-dark-l;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.11em;

    @media screen and (max-width: 370px) {
        font-size: 15px;
    }
}

