// Header

.our-pets {

    header {
        background-color: $color-light-xl;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    
    .head {
        padding: 30px 0;

        @media screen and (max-width: $medium) {
            padding: 30px;
        }
    }

    .logo-title {
        color: $color-dark-l;
    }

    .logo-subtitle {
        color: $color-dark-3xl;
    }

    .navbar a {
        color: $color-dark-l;
    }

    .navbar a:hover {
        color: $color-dark-3xl;
    }

}


// Friends Section

#friends {
    background-color: $color-light-l;

    .fixwidth {
        text-align: center;
    }
}

#friends .subheader {
    max-width: 400px;
    padding-top: 80px;
    padding-bottom: 45px;
    text-align: center;

    @media screen and (max-width: $medium) {
        padding-bottom: 30px;
    }

    @media screen and (max-width: $small) {
        padding: 42px 0;
    }
}

#friends .row {
    flex-wrap: wrap;
    justify-content: center;
}

#friends .card {
    margin: 15px auto;

    @media screen and (max-width: $medium) {
        margin: 0 0 30px 0;

        &:nth-child(2n+1) {
            margin-right: 20px;
        }

        &:nth-child(2n) {
            margin-left: 20px;
        }

        &:nth-child(n+7) {
            display: none;
        }
    }

    @media screen and (max-width: $small) {
        &:nth-child(n+4) {
            display: none;
        }
    }
}

.buttons-block {
    padding-top: 45px;
    padding-bottom: 100px;

    @media screen and (max-width: $medium) {
        padding: 10px 0 76px;
    }

    @media screen and (max-width: $small) {
        padding: 12px 0 42px;
    }
}

.buttons-block .button-arrow {
    margin: 0 10px;

    @media screen and (max-width: $small) {
        margin: 0 5px;
    }
}
