html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
}

.fixwidth {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
