.head {
    height: 60px;
    padding: 60px 0;
}

.paragraph {
    display: inline-block;
    font-family: $font-secondary;
    font-size: 15px;
    line-height: 1.59;
    letter-spacing: -0.025em;
}

.main {
    header {
        @extend %background-gradient;

        .row {
            @media screen and (max-width: $small) {
                padding: 30px 10px 0;
            }
        }
    }
}

.head {
    @media screen and (max-width: $medium) {
        padding: 30px;
    }
}

.home {
    align-items: flex-end;

    img {
        width: 100%;
        height: 100%;
    }

    .column:last-child {
        @media screen and (max-width: $medium) and (min-width: $small) {
            margin: 0 70px;
        }
    }

    .paragraph {
        color: $color-dark-s;
        margin: 42px auto;
    
        @media screen and (max-width: $small) {
            text-align: center;
        }
    }

    @media screen and (max-width: $medium) {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 30px;
        gap: 100px;

        img {
            position: relative;
            left: 70px;
        }
    }

    @media screen and (max-width: $small) {
        justify-content: flex-end;

        img {
            position: unset;
            max-width: 260px;
            margin-top: 5px;
        }
    }
}

.home-text {
    max-width: 460px;
    position: relative;
    bottom: 243px;
    
    @media screen and (max-width: $medium) {
        margin-top: 30px;
        position: unset;

        a {
            display: block;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: $small) {
        align-items: center;
    }
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo-title {
    color: $color-primary;
    font-family: $font-primary;
    font-style: normal;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.06em;
    line-height: 1.1;
    margin-bottom: 10px;
}

.logo-subtitle {
    color: $color-light-xl;
    font-family: $font-secondary;
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    line-height: 15px;
    letter-spacing: 0.09em;
}