.button {
    font-family: $font-primary;
    font-weight: 400;
    letter-spacing: 0.06em;
    padding: 15px 45px;
    border-radius: 100px;

    &:hover {
        background-color: $color-primary-light;
        border: 2px solid $color-primary-light;
        cursor: pointer;
    }
}

.button-solid {
    background-color: $color-primary;
    border: 2px solid $color-primary;
}

.button-outline {
    background-color: $color-light-xl;
    border: 2px solid $color-primary;
}

.button-arrow {
    display: inline-flex;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.06em;
    font-family: $font-primary;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    background-color: $color-light-l;
    border: 2px solid $color-primary;
    border-radius: 100px;
    padding: 0;

    &:hover {
        background-color: $color-primary-light;
        border: 2px solid $color-primary-light;
        cursor: pointer;
    }
}

.button-active {
    background-color: $color-primary;
    border: 2px solid $color-primary;
}

.button-inactive,
.button-inactive:hover {
    color: $color-dark-s;
    background-color: $color-light-l;
    border: 2px solid $color-dark-s;
    cursor: auto;
}