ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul>li>a {
    color: $color-dark-s;
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: -0.02em;
    margin-left: 35px;

    .burger-menu & {
        font-size: 32px;
        margin: 0;
    }
}

ul>li>a:hover {
    color: $color-light-s;
}

ul>li>a:active {
    @extend %active-link;
}

.navbar {
    @media screen and (max-width: $small) {
        display: none;
    }
}

.burger-menu {
    display: none;
    z-index: 3;

    .our-pets & {
        fill:black;
    }

    .overlay-darken {
        position: fixed;
        top: 0;
        width: 100vw;
        transition: 0.6s;
    }

    .burger-menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        background-color: $color-dark-3xl;
        width: 0;
        height: 100vh;
        position: fixed;
        top: 0;
        transition: 0.5s ease-out;
        right: -100vw;

        .logo {
            position: absolute;
            left: 10px;
            top: 30px;

            .logo-title {
                color: $color-primary;
            }

            .logo-subtitle {
                color: $color-light-xl;
            }
        }
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px 0;
        flex-direction: column;
    }

    @media screen and (max-width: $small) {
        display: block;
        margin-right: 43px;
        cursor: pointer;
    }
}

.burger {
    transition: transform 0.5s;
    position: relative;
    z-index: 3;
}

.menu-active {
    height: 100%;
    overflow-y: hidden;

    .burger {
        position: fixed;
        top: 49px;
        right: 53px;
        transform: rotate(90deg);
    }

    .burger-our-pets {
        filter: invert(86%) sepia(35%) saturate(380%) hue-rotate(321deg) brightness(98%) contrast(92%);
    }

    .overlay-darken {
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        right: 0;
    }

    .burger-menu-list {
        width: 320px;
        right: 0px;
    }
}

.focus {
    @extend %active-link
}

